<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="just.trust.me" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="Kills SSL certificate validation" android:name="xposeddescription"/>
    </application>

</manifest>
